<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <#include "${rc.contextPath}/frameImportFile.html"/>
    <style type="text/css">

    </style>
</head>

<body style="overflow-x: hidden;">
<div>
    <div class="content" style="margin: 20px;">
        <form method="post" id="myform" role="form">
            <div class="form-group row">
                <div class="left col-xs-3 text-right">
                    <label for="">代码:</label>
                </div>
                <div class="right col-xs-8 text-left">
                    <input autocomplete="off" type="text" class="form-control" id="value" name="value"
                           placeholder="请输入用户名" value="${dictItem.value!}">
                </div>
            </div>
            <div class="form-group row">
                <div class="left col-xs-3 text-right">
                    <label for="">名称:</label>
                </div>
                <div class="right col-xs-8 text-left">
                    <input autocomplete="off" type="text" class="form-control" id="content" name="content"
                           placeholder="请输入密码" value="${dictItem.content!}">
                </div>
            </div>
            <div class="form-group row">
                <div class="left col-xs-3 text-right">
                    <label for="">描述:</label>
                </div>
                <div class="right col-xs-8 text-left">
                    <input autocomplete="off" type="text" class="form-control" id="remark" name="remark"
                           value="${dictItem.remark!}">
                </div>
            </div>
            <div class="form-group row">
                <div class="left col-xs-3 text-right">
                    <label for="">所属医院:</label>
                </div>
                <div class="right col-xs-8 text-left">
                    <input autocomplete="off" type="text" class="form-control" id="hospitalId" name="hospitalId"
                           value="${dictItem.hospitalId!}">
                </div>
            </div>
            <div class="form-group text-center submit">
                <button type="submit" class="btn btn-primary">保存</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var param  = {itemId:'${dictItem.itemId}'};
    new AjaxForm("#myform", "/dictItem/updateDictItem", param, formCallback).execute();
</script>
</body>
</html>