<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<#include "${rc.contextPath}/frameImportFile.html"/>
    <script type="text/javascript">
        var currDeptId = 0;
        //树
        var setting = {
            data: {
                simpleData: {
                    enable: true,
                    idKey: "deptId",
                    pIdKey: "pid"
                },
                key: {
                    name: "name",
                    url: "disable"
                }

            },
            callback: {
                onClick: zTreeOnClick
            }
        };

        function zTreeOnClick(event, treeId, treeNode) {
            currDeptId = treeNode.deptId;
            $('#commonTable').bootstrapTable('destroy');
            var oTable = new TableInit(treeNode.deptId);
            oTable.Init();
        }

        //表格
        var TableInit = function (pId) {
            var oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {
                $('#commonTable').bootstrapTable({
                    editable: true,						//EdiTable
                    url: '${rc.contextPath}/dept/listDeptsByPid',         //请求后台的URL（*）
                    method: 'POST',                      //请求方式（*）
                    toolbar: '#toolbar',                //工具按钮用哪个容器
                    checkbox: true,							//显示复选框
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sortable: true,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                    pageSize: 10,                       //每页的记录行数（*）
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    paginationVAlign: "bottom",
                    pageList: [5, 10, 15, 20],       //可供选择的每页的行数（*）
                    search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    contentType: "application/x-www-form-urlencoded",
                    strictSearch: true,					//分页导航条位置
                    showColumns: true,                  //是否显示所有的列
                    showRefresh: true,                  //是否显示刷新按钮
                    //showFooter:true,
                    minimumCountColumns: 2,             //最少允许的列数
                    //clickToSelect: true,                //是否启用点击选中行
                    //height: 700,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                    uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                    //showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    columns: [
                        {
                            field: 'checkbox',
                            title: '多选box',
                            align: 'center',
                            checkbox: true,

                        }, {
                            field: 'seq',
                            title: '序号',
                            align: 'center',
                        }, {
                            field: 'name',
                            title: '部门名称',
                            align: 'center',
                        }, {
                            field: 'type',
                            title: '部门类型',
                            align: 'center',
                        }, {
                            field: 'operatorName',
                            title: '操作员',
                            align: 'center',
                        }, {
                            field: 'operate',
                            title: '操作',
                            align: 'center',
                            width: 200,
                            formatter: operateFormatter //自定义方法，添加操作按钮
                        }
                    ],
                    onClickRow: function (row, $element) {
                        curRow = row;//
                    },
                    onLoadSuccess: function (aa, bb, cc) {
                    }

                });
            };

            //得到查询的参数
            oTableInit.queryParams = function (params) {
                var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    userName: params.search,
                    pageSize: params.limit,   			//页面大小
                    currentPage: params.offset / params.limit + 1,
                    pid: pId
                };
                return temp;
            };
            return oTableInit;
        };
        //修改用户
        function updateDept(id) {
            layer.open({
                type: 2,
                title: '修改菜单信息',
                content: '${rc.contextPath}/dept/updateDeptPage?id=' + id,
                maxmin: true,
                area: ['700px', '360px'],
                success: function (layero, index) {
                },
                end: function () {    //子页面销毁时回调的方法
                    if ('true' == $('#layer_refresh').val()) {
                        $('#layer_refresh').val('');
                        var treeObj = loadZtree();
                        var currentNode = treeObj.getNodeByParam('deptId', currDeptId);
                        if (currentNode) {
                            treeObj.expandNode(currentNode, true);
                            treeObj.selectNode(currentNode);
                        }
                    }
                }
            });
        }
        //添加菜单
        function addDept() {
            if (currDeptId == -1) {
                layer.alert("请选择一个部门后添加其子部门!");
                return;
            }
            var index = layer.open({
                type: 2,
                title: '添加部门信息',
                content: '${rc.contextPath}/dept/addDeptPage?pid=' + currDeptId,
                area: ['700px', '420px'],
                maxmin: true,
                success: function (layero, index) {
                },
                end: function () {    //子页面销毁时回调的方法
                    if ('true' == $('#layer_refresh').val()) {
                        $('#layer_refresh').val('');
                        var treeObj = loadZtree();
                        var currentNode = treeObj.getNodeByParam('deptId', currDeptId);
                        if (currentNode) {
                            treeObj.expandNode(currentNode, true);
                            treeObj.selectNode(currentNode);
                        }
                    }
                }
            });
//            layer.full(index);
        }
        //循环遍历结果集
        //value: ?
        //row:   当前行内容
        //index: 当前行号
        function operateFormatter(value, row, index) {//赋予的参数
            return [
                '<a class="btn btn-primary btn-xs" style="margin-right: 3px;" href="javascript:;" onclick="updateDept(\'' + row.deptId + '\')">编辑</a>',
                '<a class="btn btn-default btn-xs" style="margin-right: 3px;" href="javascript:;" onclick="deleteCurrentRow(\'' + row.deptId + '\')">删除</a>',
            ].join('');
        }

        //删除选中数据
        function deleteSelectRows() {
            var ids = new Array();//保存用户选择的数据的ID
            var rows = $("#commonTable").bootstrapTable('getSelections');
            if(rows.length == 0){
                layer.msg("请勾选后删除!");
                return;
            }
            //删除前确认
            layer.confirm(
                    "确认?",
                    {icon: 2, title: "删除"},
                    function (index) {
                        layer.close(index);
                        for (var i = 0; i < rows.length; i++) {
                            ids.push(JSON.parse('{"userId":"' + rows[i].userId + '"}'));
                        }
                        ids = JSON.stringify(ids);
                        var data = new AjaxRequest("/dept/deleteDept", ids).json().execute();
                        $("#commonTable").bootstrapTable('refresh');
                        if (!$.isEmptyObject(data)) layer.msg(data, {icon: 1});
                    }
            );
        }
        //删除单行数据
        function deleteCurrentRow(id) {
            layer.confirm(
                    "确认?",
                    {icon: 2, title: "删除"},
                    function (index) {
                        layer.close(index);
                        //确认后的逻辑
                        var ids = new Array();
                        ids.push(JSON.parse('{"deptId":"' + id + '"}'));
                        ids = JSON.stringify(ids);
                        var data = new AjaxRequest("/dept/deleteDept", ids).json().execute();
                        $("#commonTable").bootstrapTable('refresh');
                        loadZtree();
                        if (!$.isEmptyObject(data)) layer.msg(data, {icon: 1});
                    }
            );
        }
        //页面初始化
        $(document).ready(function () {
            loadZtree();

            var oTable = new TableInit(currDeptId);
            oTable.Init();
        });

        function loadZtree() {
            var root = {
                children: null,
                icon: "fa fa-cogs",
                leafFlag: true,
                name: "root",
                deptId: "0",
                pid: "root",
                targetType: "iframe-tab",
                url: null,
                open: true
            };
            var depts = new AjaxRequest("/dept/listDepts", null).execute();
            depts.push(root);
            return $.fn.zTree.init($("#treeDemo"), setting, depts);
        }
    </script>
</head>
<style type="text/css">
    /*!*设置分页导航沉底*!
    .fixed-table-pagination {
        position: absolute;
        bottom: 0;
    }*/
</style>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-xs-2 col-sm-2 hidden-xs"
             style="height: 100vh;overflow: auto;padding-left: 0;padding-top:5px;border-right: 2px solid #e7ebee;">
            <ul id="treeDemo" class="ztree"></ul>
        </div>
        <div class="col-md-10 col-xs-12 col-sm-10"
             style="height: 100vh;">
            <div class="table-responsive" style="height: 90%;">
                <table id="commonTable" class="table table-border text-nowrap">
                    <div id="toolbar" style="padding-left:8px;">
                        <@shiro.hasPermission name="admin:write">
                            <a class="btn btn-default" onclick='deleteSelectRows()'>删除选中</a>
                            <a class="btn btn-default" onclick='addDept()'>添加部门</a>
                        </@shiro.hasPermission>
                    </div>

                </table>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="layer_refresh">
</body>
</html>
