<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dw.health.eportal.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.dw.health.eportal.entity.User">
    <id column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="REAL_NAME" jdbcType="VARCHAR" property="realName" />
    <result column="ID_CARD" jdbcType="VARCHAR" property="idCard" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="MPHONE" jdbcType="VARCHAR" property="mphone" />
    <result column="MAIL" jdbcType="VARCHAR" property="mail" />
    <result column="SEARCH_HISTORY" jdbcType="VARCHAR" property="searchHistory" />
    <result column="LOCKED" jdbcType="VARCHAR" property="locked" />
    <result column="LOCKED_TIME" jdbcType="TIMESTAMP" property="lockedTime" />
    <result column="NATION" jdbcType="VARCHAR" property="nation" />
    <result column="AVATAR" jdbcType="VARCHAR" property="avatar" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="OPERATOR_ID" jdbcType="VARCHAR" property="operatorId" />
    <result column="DELETE_FLAG" jdbcType="DECIMAL" property="deleteFlag" />
    <result column="DELETE_TIME" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="HOSPITAL_ID" jdbcType="VARCHAR" property="hospitalId" />
    <result column="SP" jdbcType="VARCHAR" property="sp" />
  </resultMap>
  <sql id="Base_Column_List">
    USER_ID, USER_NAME, PASSWORD, SALT, SEX, REAL_NAME, ID_CARD, PHONE, MPHONE, MAIL, 
    LOCKED, LOCKED_TIME, NATION, AVATAR,CREATE_TIME, MODIFY_TIME, OPERATOR_ID, DELETE_FLAG,
    DELETE_TIME, HOSPITAL_ID, SP,SEARCH_HISTORY
  </sql>
  <sql id="base_userDTO_List">
    U1.USER_ID AS userId, U1.USER_NAME AS userName,  U1.SEX AS sex, U1.REAL_NAME AS realName, U1.ID_CARD AS idCard, U1.PHONE AS phone, U1.MPHONE AS mphone, U1.MAIL AS mail,
    U1.LOCKED AS locked, U1.LOCKED_TIME AS lockedTime, U1.NATION AS nation, U1.AVATAR AS AVATAR, U1.CREATE_TIME AS createTime, U1.MODIFY_TIME AS modifyTime, U1.OPERATOR_ID AS operatorId, U1.DELETE_FLAG AS deleteFlag,
    U1.DELETE_TIME AS deleteTime, U1.HOSPITAL_ID AS hospitalId, U1.SP AS SP, U2.USER_NAME AS operatorName
  </sql>
  <sql id="userDTO_List">
    U1.USER_ID AS userId, U1.USER_NAME AS userName,  U1.SEX AS sex, U1.REAL_NAME AS realName, U1.ID_CARD AS idCard, U1.PHONE AS phone, U1.MPHONE AS mphone, U1.MAIL AS mail,
    U1.LOCKED AS locked, U1.LOCKED_TIME AS lockedTime, U1.NATION AS nation, U1.AVATAR AS AVATAR, U1.CREATE_TIME AS createTime, U1.MODIFY_TIME AS modifyTime, U1.OPERATOR_ID AS operatorId, U1.DELETE_FLAG AS deleteFlag,
    U1.DELETE_TIME AS deleteTime, U1.HOSPITAL_ID AS hospitalId, U1.SP AS SP, U2.USER_NAME AS operatorName,DP.DEPT_ID AS deptId,DP.NAME AS deptName
  </sql>

  <select id="selectUsersByKeyword" parameterType="java.lang.String" resultType="com.dw.health.eportal.entity.dto.UserDTO">
    select
    <include refid="userDTO_List"/>
    from EPORTAL.users U1
    left join EPORTAL.users U2
    on U1.OPERATOR_ID = U2.USER_ID
    left join EPORTAL.rel_user_dept DPREL
    on U1.USER_ID = DPREL.USER_ID
    left join EPORTAL.department DP
    on DPREL.DEPT_ID = DP.DEPT_ID
    where U1.USER_NAME LIKE '%'||#{keyword,jdbcType=VARCHAR}||'%' OR U1.SP = #{keyword,jdbcType=VARCHAR}
    OR U1.MPHONE LIKE '%'||#{keyword,jdbcType=VARCHAR}||'%' OR U1.PHONE LIKE '%'||#{keyword,jdbcType=VARCHAR}||'%'
    and U1.DELETE_FLAG = '0'
  </select>

  <select id="selectUserDTOById" parameterType="java.lang.String" resultType="com.dw.health.eportal.entity.dto.UserDTO">
    select
    <include refid="base_userDTO_List"/>
    from EPORTAL.users U1
    left join EPORTAL.users U2
    on U1.OPERATOR_ID = U2.USER_ID
    WHERE U1.USER_ID = #{userId,jdbcType=VARCHAR}
    and U1.DELETE_FLAG = '0'
  </select>
  <select id="selectBySearchDTO" parameterType="com.dw.health.eportal.entity.dto.UserDTO" resultType="com.dw.health.eportal.entity.dto.UserDTO">
    select
    <include refid="userDTO_List"/>
    from EPORTAL.users U1
    left join EPORTAL.users U2
    on U1.OPERATOR_ID = U2.USER_ID
    left join EPORTAL.rel_user_dept DPREL
    on U1.USER_ID = DPREL.USER_ID
    left join EPORTAL.department DP
    on DPREL.DEPT_ID = DP.DEPT_ID
    <where>
      <if test="realName != null and realName != ''">
        U1.REAL_NAME like #{realName,jdbcType=VARCHAR}||'%'
      </if>
      <if test="userName != null and userName != ''">
        AND U1.USER_NAME like #{userName,jdbcType=VARCHAR}||'%'
      </if>
      <if test="mphone != null and mphone != ''">
        AND U1.MPHONE like #{mphone,jdbcType=VARCHAR}||'%'
      </if>
      <if test="deptName != null and deptName != ''">
        AND DP.DEPT_NAME like #{deptName,jdbcType=VARCHAR}||'%'
      </if>
      <if test="sp != null and sp != ''">
        AND U1.SP like '%'||#{sp,jdbcType=VARCHAR}||'%'
      </if>
      <if test="sex != null and sex != ''">
        AND U1.SEX = #{sex,jdbcType=VARCHAR}
      </if>
      AND U1.DELETE_FLAG = '0'
      ANd DP.DEPT_ID = #{deptId,jdbcType=VARCHAR}
    </where>
  </select>

  <select id="selectUserListByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    users.*
    from EPORTAL.role
    left join EPORTAL.rel_user_role on role.role_id = rel_user_role.role_id
    left join EPORTAL.users on rel_user_role.user_id = users.user_id
    where role.role_id = #{roleId,jdbcType=VARCHAR}
    and rel_user_role.delete_flag = '0'
    and users.delete_flag = '0'
  </select>
  <select id="selectNUserListByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from EPORTAL.users
    where user_id not in(
    select
    nvl(users.user_id,' ')
    from EPORTAL.role
    left join EPORTAL.rel_user_role on role.role_id = rel_user_role.role_id
    left join EPORTAL.users on rel_user_role.user_id = users.user_id
    where role.role_id = #{roleId,jdbcType=VARCHAR}
    and rel_user_role.delete_flag = '0'
    and users.DELETE_FLAG = '0')
    and users.DELETE_FLAG = '0'
  </select>
</mapper>